.container {
    display: flex;
    border: 1px solid black;
    width: 80%;
    /*flex-direction: row;
    flex-wrap: nowrap;*/
    flex-flow: row nowrap;
    justify-content:  space-between;
    align-items: center;
    
}
.item {
    width: 300px;
    border: 2px solid rgb(249, 248, 248);
    background-color: orange ;
}